html * {
	font-family: 'Microsoft YaHei', Arial, sans-serif !important;
}

body {
	background: url(background.gif) top center repeat-x #CFDEEA;
	color: #282828;
	padding: 16px 0;
	margin: 0px;
	/*background-image: url(polaroid.png);
  	background-repeat: repeat;*/
}

a {
	color: #2E9FED;
	text-decoration: none;
}

a:hover {
	color: #1471B1;
}

#welcome h1 {
	padding: 5px 0 0 20px;
	margin: 0px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}

.container {
	position: relative;
	width: 970px;
	margin: 0 auto;
	padding: 0px;
	text-align: left;
}

.head {
	width: 970px;
	height: 172px;
	background: url(head.jpg) no-repeat;
}


#head h1 a {
	text-indent: -2000px;
	width: 154px;
	height: 59px;
	display: block;
	background: url(logo.jpg) no-repeat;
}

.top_head_banner {
	float: right;
	width: 200px;
	height: 120px;
	padding-right:3px;
	background: url(top_head.gif) no-repeat right;
	background-position: -12px 12px;
}

#menu {
	position: absolute;
	width: 450px;
	top: 155px;
	left: 35px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
	
}

#menu li {
	list-style-type: none;
	float: left;
	margin: 0 8px;
	height: 22px;
	font-size:110%;
}

#menu li a {
	padding: 0 0 7px 0;
	height: 22px;
	color: #8A8A8A;
}

#menu li a:hover {
	color: #000033;
}

#menu .current {
	color: #000033;
	font-weight: bold;
}

.area {
	width: 970px;
	height: 54px;
	background: url(area.jpg);
}

.main {
	background: url(bg_mainbig.jpg) repeat-y;
	width: 972px;
	height: auto;
}

#content_left {
	float: left;
	padding: 0 30px 30px 30px;
	width: 445px;
	height: auto;
}

#content_right {
	float: left;
	padding: 5px;
	width: 200px;
	height: auto;
}

.content_title {
	background: url(center_banner.jpg) no-repeat;
	padding-left:10px;
}

.content_title h2{
	color:white;
}

.item_box {
	width: auto;
	height: auto;
	padding: 10px 0 5px 0;
	border-bottom: 1px #666666 dashed;
}

.spacer {
	width: auto;
	height: 2px;
	clear: both;
	padding-bottom: 2px;
}
/*---------contact----------*/
#form {
	padding: 0px;
	margin: 0px;
}

#fields label {
	width: 260px;
	display: block;
	padding: 0px;
}

#fields input {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0;
	width: 260px;
}

#fields textarea {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0;
	width: 260px;
	height: 63px;
}

#send input {
	width: 64px;
	height: 20px;
	margin: 0px;
}

ul {
	margin: 0 0 20px 0;
	padding: 0px;
	list-style-type: none;
}

.contact_info {
	float: left;
	padding: 15px;
}

/*work------------*/
.project_details {
	float: left;
	width: 200px;
	color: #0099FF;
	padding: 10px 0 0 10px;
}

.footer {
	font-size: 10px;
	color: #000033;
	background: url(footer.png) no-repeat;
	background-position: 0px 0px;
	padding-top: 10px;
	width: 970px;
	height: 85px;
}

.footer a {
	background: none;
	padding: 0px;
}

#madeby {
	width: 200px;
	height: 85px;
	float: right;
	padding-right: 30px;
	text-align: center;
}

#madeby a {
	text-decoration: none;
	color: #666666;
}

.navbar .nav li a {
	/*    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-right: 1px solid rgba(0, 0, 0, 0.1); */
	font-weight: bold;
	text-align: center;
}

/* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 20px;
	margin-bottom: -90px;
	/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-wrapper .navbar {
	
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
	border: 0;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	background-image: linear-gradient(#104E8B, #3B6AA0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#104E8B',
		endColorstr='#3B6AA0');
}

/* Downsize the brand/project name a bit */
.navbar .brand {
	padding: 14px 20px 16px;
	/* Increase vertical padding to match navbar links */
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav>li>a {
	color: rgb(255, 255, 255);
	text-shadow: rgb(119, 119, 119) 0px 1px 0px;
	padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
	margin-top: 10px;
}

.form-horizontal .controls {
	margin-left: 140px;
	*margin-left: 0;
}

.form-horizontal .control-label {
	width: 120px;
}

select {
	width: 140px;
}

.thin {
	width: 100px;
}

.border {
	border: 1px solid #CCDBED;
}

.bar-bg {
	background-color: #CEE2FF;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}

.tiny-pt {
	padding-top: 5px;
}

.small-pt {
	padding-top: 10px;
}

.large-pt {
	padding-top: 25px;
}

.tiny-pb {
	padding-bottom: 5px;
}

.text-font {
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.text-b {
	color: #333333;
}

.text-r {
	color: #FF0000;
}

.breadcrumb {
	background-color: #F0F4F7;
	margin: 0px;
}

.container {
	height: 100%
}

.workarea {
	/* background-color: #fff; */
	background: #F0F4F7;
}

h2 {
	color: #666666;
	font-size: 24px;
	font-weight: normal;
	line-height: 36px;
	margin: 10px 0 15px;
}

h1 {
	color: #666666;
	font-size: 28px;
	font-weight: normal;
	line-height: 36px;
	margin: 10px 0 15px;
}

hr {
	border-width: 2px 0;
	margin: 0px;
}

div.flowstep ol {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none outside none;
}

div.flowstep ol li.ago {
	background: url("bg_flow_step.png") no-repeat scroll 100% -32px #CEE2FF;
}

div.flowstep ol li {
	background: url("bg_flow_step.png") no-repeat scroll 100% -64px #E6E6E6;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 156px;
}

div.flowstep ol li.step {
	background: url("bg_flow_step.png") no-repeat scroll 100% -64px #3164AF;
	color: #FFFFFF;
}

div.flowstep ol li.end {
	background: none repeat scroll 0 0 #E6E6E6;
}

div.flowstep ol li.pass {
	background: url("bg_flow_step.png") no-repeat scroll 100% 0 #CEE2FF;
}

.alert {
	margin-bottom: 0px;
}

.form-horizontal input {
	vertical-align: top;
}

.td-no-border td {
	border-top: 0px;
}

div.well {
	padding: 0px;
}

div.btn-mini {
	padding: 0px;
}

td.workday {
	height: 50px;
	width: 80px;
	padding: 5px;
	background-color: #80CC80;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

td.selected_workday {
	height: 50px;
	width: 80px;
	padding: 5px;
	background-color: #FFFF70;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

td.workday a {
	color: #000000;
}

td.fullworkday {
	height: 50px;
	width: 80px;
	padding: 5px;
	background-color: #FF8484;
	text-align: center;
	vertical-align: middle;
}

td.fullworkday a {
	color: #000000;
}

td.nonworkday {
	height: 50px;
	width: 80px;
	padding: 5px;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
}

td.nonworkday a {
	color: #000000;
}

td.wdheader {
	height: 40px;
	width: 80px;
	background-color: #E6E6E6;
	text-align: center;
	color: #000000;
}

td.segmentfull {
	height: 10px;
	text-align: center;
	background-color: #FF8484;
	vertical-align: middle;
}

td.segment {
	height: 10px;
	text-align: center;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

td.segmenthd {
	height: 10px;
	text-align: center;
	background-color: #E5E5E5;
}

.yw_div {
	display: inline;
}

div.special select {
	width: 80px;
}

#bottombar-wrap-w {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999999;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop +
		document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}

#bottombar-wrap-w {
	background: transparent
		url(botbar18.gif)
		repeat-x scroll 0 0;
}


#bottombar-wrap-w .close-w a {
	background: transparent
		url(botbar19.gif)
		repeat-x scroll 0 0;
}

#bottombar-wrap-w .close-w a:hover {
	background: transparent
		url(botbar20.gif)
		repeat-x scroll 0 0;
}

#bottombar-wrap-w .wrap-cont-w .cont-comment-w a.comment-link-w,#bottombar-wrap-w .wrap-cont-w .cont-comment-w span.comment-text-w
	{
	color: #5788aa;
}

#bottombar-wrap-w .wrap-cont-w .cont-comment-w .comment-link-w:hover {
	color: #ee542a;
}